<%= simple_nested_form_for(@admin_event, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f| %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= render 'form_fields', f: f %>
  </div>
  <hr>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
