<h2><%= Field.model_name.human %></h2>
<table id="fields" class="table table-condensed">
  <thead>
    <tr>
      <th></th>
      <%= th_for Field, :name, :type, :required, :multiple, :option_items %>
    </tr>
  </thead>
  <tbody>
    <%= f.simple_fields_for :fields, wrapper: false do |ff| %>
      <tr class="fields text-center">
        <td><%= ff.link_to_remove content_tag(:span, nil, class: 'glyphicon glyphicon-trash') %></td>
        <td class="col-md-3"><%= ff.input_field :name, label: false, class: 'form-control' %></td>
        <td class="col-md-2"><%= ff.input_field :type, label: false, include_blank: false, class: 'form-control' %></td>
        <td class="col-md-1"><%= ff.input_field :required, label: false %></td>
        <td class="col-md-1"><%= ff.input_field :multiple, label: false %></td>
        <td class="col-md-5">
          <%= ff.input_field :option_items, as: :string, label: false, class: 'select2-tags-array', data: {init: ff.object.option_items.to_json} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= f.link_to_add content_tag(:span, nil, class: 'glyphicon glyphicon-plus'), :fields, class: 'btn btn-xs btn-default', data: {target: '#fields'} %>