<h2><%= Admin::Event.model_name.human %></h2>
<table class="table">
  <thead>
    <tr>
      <%= th_for Admin::Event, :start_date, :title, :place %>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_events.each do |admin_event| %>
      <tr>
        <%= td_for admin_event, :start_date, :title, :place %>
        <td><%= link_to Attendee.model_name.human, [admin_event, Attendee] %>(<%= admin_event.attendees.count %>)</td>
        <%= td_action_for admin_event %>
      </tr>
    <% end %>
  </tbody>
</table>
