<h2>「<%= link_to @admin_event.title, @admin_event %>」 - <%= Admin::Attendee.model_name.human %></h2>
<table class="table">
  <thead>
    <tr>
      <%= th_for Admin::Attendee, :id, :user %>
      <% if @admin_event.attendees.present? %>
        <% @admin_event.attendees.first.field_values.each do |field_value| %>
          <th><%= field_value.field.name %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @admin_attendees.each do |admin_attendee| %>
      <tr>
        <td><%= admin_attendee.id %></td>
        <td><%= link_to admin_attendee.user.name, admin_event_attendee_path(@admin_event, admin_attendee) %></td>
        <% admin_attendee.field_values.each do |field_value| %>
          <td><%= truncate(field_value.value_text, length: 20) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
