<h2><%= t('crud.show!', resource: Admin::Attendee.model_name.human) + " 【#{@admin_event.title}】" %></h2>

<div class="row">
  <p class="col-sm-3 attendee-label"><%= Admin::Attendee.human_attribute_name(:id) %></p>
  <p class="col-sm-9 attendee-infos"><%= @admin_attendee.id %></p>
</div>
<div class="row">
  <p class="col-sm-3 attendee-label"><%= Admin::User.human_attribute_name(:name) %></p>
  <p class="col-sm-9 attendee-infos"><%= @admin_attendee.user.name %></p>
</div>
<div class="row">
  <p class="col-sm-3 attendee-label"><%= Admin::User.human_attribute_name(:email) %></p>
  <p class="col-sm-9 attendee-infos"><%= @admin_attendee.user.email %></p>
</div>
<div class="row">
  <p class="col-sm-3 attendee-label"><%= Admin::User.human_attribute_name(:tel) %></p>
  <p class="col-sm-9 attendee-infos"><%= @admin_attendee.user.tel %></p>
</div>

<% @admin_attendee.field_values.each do |field_value| %>
<div class="row">
  <p class="col-sm-3 attendee-label"><%= field_value.field.name %></p>
  <p class="col-sm-9 attendee-infos"><%= field_value.value_text %></p>
</div>
<% end %>
