<h1><%= Admin::User.model_name.human %> <%= link_to t('crud.new'), new_admin_user_path, class: 'btn btn-lg btn-success' %></h1>

<table class="table">
  <thead>
    <tr>
      <%= th_for Admin::User, :id, :email, :admin %>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <%= td_for admin_user, :id, :email, :admin %>
        <%= td_action_for admin_user %>
      </tr>
    <% end %>
  </tbody>
</table>
