<!DOCTYPE html>
<html>
<head>
  <title>RgEvents</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
</head>
<body>
  <header>
    <%= render 'layouts/admin/navbar' %>
  </header>
  <div class="container">

    <%= render 'layouts/admin/sidebar' %>

    <div class="content">
      <%= yield %>
    </div>

  </div>
</body>
</html>
