<!DOCTYPE html>
<html>
<head>
  <title>RgEvents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/admin/navbar' %>
  <div class="row">
    <div class="col-sm-2">
      <%= render 'layouts/admin/sidebar' %>
    </div>
    <div class="col-sm-10">
      <%= yield %>
    </div>
  </div>
</body>
</html>
